<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <h2>Productos para Venta</h2>
    <ul>
        {% for producto in productos_venta %}
            <li><a href="{% url 'producto_venta_detail' producto.id %}">{{ producto.nombre }} - {{ producto.categoria }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_producto_venta' %}">Crear Producto de Venta</a>
    <h2>Productos para Alquiler</h2>
    <ul>
        {% for producto in productos_alquiler %}
            <li><a href="{% url 'producto_alquiler_detail' producto.id %}">{{ producto.nombre }} - {{ producto.categoria }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_producto_alquiler' %}">Crear Producto de Alquiler</a>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <h2>Productos para Venta</h2>
    <ul>
        {% for producto in productos_venta %}
            <li><a href="{% url 'producto_venta_detail' producto.id %}">{{ producto.nombre }} - {{ producto.categoria }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_producto_venta' %}">Crear Producto de Venta</a>
    <h2>Productos para Alquiler</h2>
    <ul>
        {% for producto in productos_alquiler %}
            <li><a href="{% url 'producto_alquiler_detail' producto.id %}">{{ producto.nombre }} - {{ producto.categoria }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'crear_producto_alquiler' %}">Crear Producto de Alquiler</a>
</body>
</html>
