<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Todos los Productos</title>
</head>
<body>
    <h1>Lista de Todos los Productos</h1>
    <h2>Productos en Venta</h2>
    <ul>
        {% for producto in productos_venta %}
            <li>{{ producto.nombre }} - {{ producto.categoria }} - {{ producto.stock }}</li>
        {% endfor %}
    </ul>
    <h2>Productos en Alquiler</h2>
    <ul>
        {% for producto in productos_alquiler %}
            <li>{{ producto.nombre }} - {{ producto.categoria }} - {{ producto.stock }}</li>
        {% endfor %}
    </ul>
</body>
</html>
