<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Producto en Alquiler</title>
</head>
<body>
    <h1>Detalle del Producto en Alquiler</h1>
    <p>Nombre: {{ producto_alquiler.nombre }}</p>
    <p>Categoría: {{ producto_alquiler.categoria }}</p>
    <p>Color: {{ producto_alquiler.color }}</p>
    <p>Talla: {{ producto_alquiler.talla }}</p>
    <p>Precio de Alquiler: {{ producto_alquiler.precio_alquiler }}</p>
    <p>Stock: {{ producto_alquiler.stock }}</p>
</body>
</html>
