<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalle de la Venta</title>
</head>
<body>
    <h1>Detalle de la Venta</h1>
    <p>ID de Venta: {{ venta.id_ventas }}</p>
    <p>Creado por: {{ venta.created_by }}</p>
    <p>Tienda: {{ venta.tienda }}</p>
    <p>Tipo: {{ venta.tipo }}</p>
    <p>Cliente: {{ venta.id_clientes }}</p>
    <p>Fecha de Entrega: {{ venta.fecha_entrega }}</p>
    <p>Total a Pagar: {{ venta.total_a_pagar }}</p>
    <p>Total Pagado: {{ venta.total_pagado }}</p>
    <p>Pendiente de Pago: {{ venta.pendiente_de_pago }}</p>
    <p>Estado de Pago: {{ venta.estado_pago }}</p>
    <p>Comentarios: {{ venta.comentarios }}</p>
    <a href="{% url 'venta_list' %}">Volver a la lista de ventas</a>
</body>
</html>
