{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Bienvenido</h1>
<div id='calendar'></div>
{% endblock %}

{% block extra_script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: '/core/api/events/',  // Endpoint para cargar eventos
        });
        calendar.render();
    });
</script>
{% endblock %}
